.services_page {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: auto;
  width: auto;
  flex-direction: column;
  border-radius: 10px;
  padding: 2rem 4rem;
}