
input {
  font-family: "Jost", italic;
  font-weight: 600;
  font-size: 2rem;
  border: none;
}

._input {
    text-align: center;
    font-size: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    caret-shape: auto;
}

