$meta_color: rgb(229, 255, 112);
$meta_color_2: rgb(228, 228, 228);
$meta_color_3: rgb(0, 0, 0);
$transparent: #00000000;
$meta_color_dark_2: #00000015;
$meta_color_dark: #252428;

$meta_color_gray_0: rgb(221, 221, 221);

$meta_color_gray_1: rgb(202, 202, 202);
$meta_color_gray_2: rgba(0, 0, 0, 0.26);
$meta_color_gray_3: rgba(0, 0, 0, 0.8);