// @import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "./_colors.module";
@import "../components/input/_input.module";
@import "./media.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus,
  :active {
    outline: none;
  }
}

#root {
  height: 100%;
}

body,
html {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  position: relative;
  // overflow-x: hidden;

  height: auto;
  font-size: 10px;
  background: black;
  top: 0;
}

.app {
  position: relative;
  display: flex;
  margin: 1rem auto;
  min-height: 100rem;
  min-width: 100rem;
  flex-direction: column;
  background-color: rgb(221, 221, 221);
  border-radius: 1rem;
  height: auto;
}

h1 {
  font-size: 2.3rem;
}

p {
  font-size: 1.4rem;
}

span {
  font-size: 1.4rem;
  color: $meta_color;
  text-shadow: 0 0 4px black;
}

a {
  font-size: 1.4rem;
  cursor: pointer;
}
