@import "/src/sass/common.module.scss";

.authForm {
  display: flex;
  justify-content: space-between;
  background: #0000000a;
  flex-direction: column;

  padding: 1rem;
  width: 28rem;
  min-height: auto;
  backdrop-filter: blur(6px);
  border-radius: 1rem;
  // opacity: 0.5;

  .auth_label {
    font-size: 2rem;
    font-weight: 700;
    text-indent: 0;
    margin: 2rem;
  }

  .loginContainer {
    background: rgb(80 90 36);
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;

    border-radius: 2rem 2rem 0 0;
    padding: 2rem 2rem 1rem 2rem;
    margin: 0 1rem;
    width: 24rem;
  }

  .loginContainerActive {
    background: rgb(80 90 36);
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;

    border-radius: 2rem 2rem 0 0;
    padding: 2rem 2rem 1rem 2rem;
    margin: 0 1rem;
    width: 24rem;

    animation-name: loginContainerColor;
    animation-duration: 3s;
  }

  .passwordContainer {
    background: rgb(144 161 69);
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;
    width: 24rem;
    border-radius: 0 0 2rem 2rem;
    padding: 1rem 2rem 2rem 2rem;
    margin: 0 1rem;
  }

  .passwordContainerActive {
    background: rgb(144 161 69);
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;

    border-radius: 0 0 2rem 2rem;
    padding: 1rem 2rem 2rem 2rem;
    margin: 0 1rem;
    width: 24rem;

    animation-name: passwordContainerColor;
    animation-duration: 3s;
  }
}

.grid_container {
  grid-template-columns: 1;
  grid-template-rows: 1;
  position: relative;
  background: #202422;
  display: grid;
  gap: 1rem;
  align-items: center;

  width: auto;
  height: 100%;
  margin: auto;

  .grid_element {
    grid-column: 1;
    position: relative;
    background: #333;
    width: auto;
    height: auto;
    padding: 0;
    backdrop-filter: blur(2px);
  }
}

p.error {
  color: rgb(73, 78, 47);
  text-align: center;
  font-size: 1.2rem;
}

@keyframes loginContainerColor {
  // 0% {
  //   background: rgb(80 90 36);
  // }
  0% {
    background: rgb(112, 126, 50);
  }
  99% {
    background: rgb(80 90 36);
  }
}

@keyframes passwordContainerColor {
  // 0% {
  //   background: rgb(144 161 69);
  // }
  0% {
    background: rgb(112, 126, 50);
  }
  99% {
    background: rgb(144 161 69);
  }
}
