@import "../../sass/common.module.scss";

.header_container {
  position: fixed;
  display: flex;
  justify-content: center;
  

  width: 100%;
  height: 7rem;
  z-index: 2;

  .header_box {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    gap: 2rem;
    align-items: center;
    width: 80%;
    background: #191b19;
    border-radius: 0 0 2rem 2rem;
    transition: all 0.4s;

    .logotype {
      position: sticky;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      color: $meta_color;
      filter: drop-shadow(0 0 2px $meta_color);
      font-size: 3rem;
      line-height: 2.7rem;
      height: 3rem;
    }

    .description {
      color: #FFF;
      font-weight: 200;
      font-size: auto;
    }
  }
}
//     .signup_button {
//       text-align: center;
//       // background: #e5ff70;
//       border-radius: 2rem;
      
//       transition: all 0.2s;
//       // height: 2rem;
//       // padding: 1rem;
//       // margin: 1rem;
//       // min-width: 10rem; 
//     }

//     ._button_snippet {
//       color: $meta_color_dark_2;
      
//       line-height: 2rem;
//       &::after {
//         content: ' | ';
//         animation: 2s linear clips_end infinite;
//       }
//       &::before {
//         content: ' | ';
//         animation: 2s linear clips_start infinite;
//       }
//     }

//     &:hover {
//       cursor: pointer;
//       .signup_button {
//         &::after{
        
//       }
//         &::before {
          
//       }
//     }
//   }
// }}

// @keyframes clips_start {
//   from {
//     content: '.  '; 
//   }
//   to {
//     content: '..'; 
//   }
// }

// @keyframes clips_end {
//   from {
//     content: '..'; 
//   }
//   to {
//     content: '  .'; 
//   }
// }

@media screen and (max-width: 900px) {
  .description {
    display: none;
  }

  .signup_button {
    width: 1rem;
  }
}