@import "../../sass/common.module.scss";

.header_container {
  position: sticky;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 90%;
  height: 7rem;
  z-index: 2;

  .header_box {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
    background: #000000;
    border-radius: 0 0 1rem 1rem;
    transition: all 0.4s;
    padding: 0 3rem;
    border-bottom: .2rem solid #fff;

    .logotype {
      position: sticky;
      text-align: center;
      
      margin: 1rem;
      color: $meta_color;
      // filter: drop-shadow(0 0 2px $meta_color);
      
      line-height: 2.5rem;
      height: 3rem;
      font-weight: 300;
    }

    .description {
      color: #FFF;
      font-weight: 200;
      font-size: auto;
    }
  }
}

.buttonSection {
  display: flex;

}
//     .signup_button {
//       text-align: center;
//       // background: #e5ff70;
//       border-radius: 2rem;
      
//       transition: all 0.2s;
//       // height: 2rem;
//       // padding: 1rem;
//       // margin: 1rem;
//       // min-width: 10rem; 
//     }

//     ._button_snippet {
//       color: $meta_color_dark_2;
      
//       line-height: 2rem;
//       &::after {
//         content: ' | ';
//         animation: 2s linear clips_end infinite;
//       }
//       &::before {
//         content: ' | ';
//         animation: 2s linear clips_start infinite;
//       }
//     }

//     &:hover {
//       cursor: pointer;
//       .signup_button {
//         &::after{
        
//       }
//         &::before {
          
//       }
//     }
//   }
// }}

// @keyframes clips_start {
//   from {
//     content: '.  '; 
//   }
//   to {
//     content: '..'; 
//   }
// }

// @keyframes clips_end {
//   from {
//     content: '..'; 
//   }
//   to {
//     content: '  .'; 
//   }
// }

@media screen and (max-width: 900px) {
  .description {
    display: none;
  }

  .signup_button {
    width: 1rem;
  }
}