@import "../../sass/common.scss";

a {
  font-size: 2rem;
  color: rgb(134, 32, 32);
}

.medialink {
  filter: drop-shadow(0 0 3px $meta_color);
  transform:scale(70%);
  justify-content: center;
}

.link_button {
  width: 4rem;
}

