@import "/src/sass/common.module.scss";

.main {
  position: relative;
  display: block;

  margin: 5rem auto 0 auto;
  width: 90%;
  height: auto;
  padding: auto;
  border-radius: 10px;
  background-color: #00000010;
}

.page {
  position: relative;
  background: #6858581e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 99%;
  flex-direction: row;
  border-radius: 10px;
  padding: 2rem 4rem;

  .home_page {
    background-color: #00000025;
    display: flex;
    gap: 4rem;
    padding: 0 2px;
  }

  .grid_container {
    position: relative;
    background: #202422;
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-rows: 100rem;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    height: 100%;
    margin: auto;

    .grid_element {
      position: relative;
      background: rgb(32 36 34);
      width: auto;
      height: 100%;
      padding: 0;
      backdrop-filter: blur(2px);
    }
  }
}

p.welcome_notion {
  color: rgb(73, 78, 47);
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.welcome_toast {
  position: fixed;
  bottom: -10rem;
  left: 50%;
  margin-left: -13rem;
  background-color: #91aa79;
  color: rgb(27, 27, 27);
  padding: 2rem;
  border-radius: 10px;
  width: 26rem;
  border-left: .2rem solid rgba(27, 27, 27, 0.199);
  border-right: .2rem solid rgb(27, 27, 27, 0.199);
  font-size: 1.4rem;
  transition: opacity 0.3s ease-in-out;
  animation: toaster 4s ease-in-out;
  animation-iteration-count: 1;
}

@media (max-width: 900px) {
  .grid_container {
    grid-template-columns: 100% !important;
    grid-template-rows: repeat(3, 50rem) !important;
    margin: 4rem 0;
    width: 90% !important;
  }
}

@keyframes toaster {
  0% {
    bottom: -10rem;
  }
  20% {
    bottom: 10rem;
  }
  60% {
    bottom: 10rem;
  }
  99% {
    bottom: -9rem;
  }
}
