@import "../../sass/common.module.scss";

.image_upload {
  position: relative;
  background: #94434300;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  height: 1rem;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.gallery_page {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 30rem;
  flex-direction: column;
  border-radius: 10px;
  padding: 2rem 4rem;
  transition: all 0.2s ease-in-out;

  &:hover .image_upload {
    position: relative;
    background: #94434300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem; 
    height: 6rem;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
   
}

.gallery_container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 1rem;
  padding: 1rem;
}

.post {
  position: relative;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto, auto);
  justify-content: center;
  align-items: center;
  max-height: auto;
  max-width: auto;
  height: auto;
  width: 28rem;
  border-radius: 10px;
  // border: 2px solid  #a6c55ebe;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0 0 1px #a6c55ebe);
  box-shadow: inset 0 0 6px #a6c55ebe;
}

.image_container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.4rem;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  

  &:focus {
    position: fixed;
    height: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    transition: all 0.2s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
    filter: drop-shadow(0 0 6px #000000);
    
    
  }

  .image {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: fill;
    transition: all 0.2s ease-in-out;
    margin: auto;
    z-index: 3;
    border-radius: 10px;
  }
}

.image_overlay {
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
  display: flex;
  flex-direction: column;
  padding: 0.1rem;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  z-index: 3;
  transition: all 0.2s ease-in-out;
  object-fit: cover;

  .image_like {
    position: relative;
    background: transparent;
    border: 2px dashed #3b0c0c;
    color: #000000;
    margin: 0.2rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  
    &:hover {
      color: #751d1d;
      background-color: transparent;
    }
  }
  
  .image_delete {
    margin: 0.2rem;
    position: relative;
    background: transparent;
    border: 2px dashed #222222;
    color: #000000;
  
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  
    &:hover {
      color: #a00000;
    }
    &:disabled {
      opacity: 0.4;
    }
  }
}

.file_input {
  background-color: #000;
  width: 20rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.file_label {
  position: relative;
  background: transparent;
  border: 2px dashed #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: auto;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem 2rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  
}

