.gallery_page {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  width: 30rem;
  flex-direction: column;
  border-radius: 10px;
  padding: 2rem 4rem;
  transition: all 0.2s;
}

.gallery_container {
  display: grid;
  gap: 3rem;
  align-items: center;
  justify-content: center;

  width: auto;
  height: auto;
  margin: auto;

  & > div {
    
    margin: auto;
  }
}


.file_input {
  background-color: transparent;
  width: 20rem
}

.image {
  min-height: 20rem;
  width: 20rem;
}