
@import '../../sass/common.module';

button {
  font-family: "Jost", serif;
  font-weight: bolder;
 
  border-radius: 2rem;
  border: none;

  background-color: $meta_color;

  width: 20%;
  height: 4rem;

  margin: 1rem;

  transition: all 0.2s;

  ._button_snippet {
    color: $meta_color_dark_2;
    text-align: center;
  }

  &:hover {
    background-color: rgb(144 161 69); 
    cursor: pointer;

    ._button_snippet {
      color: $meta_color_dark_2;
      text-align: center;
    }
  }

  &:active {
    background-color: rgb(80 90 36);
    cursor: progress;
    
    ._button_snippet {
      color: #d1d1d1;
      text-align: center;
    }
  } 

 
}

._small_button {
  width: 5rem;
  background: $meta_color_3;
}

._medium_button {
  width: 16rem;
}