@import "../../sass/common.module";

button {
  
  border-radius: 2rem;
  border: none;

  background-color: $meta_color;

  width: 2.4rem;
  height: 2.4rem;

  margin: 1rem;
  transition: all 0.2s;
  padding: 0 0.5rem;

  ._button_snippet {
    color: $meta_color_dark_2;
    text-align: center;
  }

  &:hover {
    background-color: rgb(144 161 69);
    cursor: pointer;

    ._button_snippet {
      color: $meta_color_dark_2;
      text-align: center;
    }
  }

  &:active {
    background-color: rgb(92, 104, 42);
    cursor: progress;

    ._button_snippet {
      color: #d1d1d1;
      text-align: center;
    }
  }
  &:disabled {
    background-color: $meta_color_2;
    cursor: default;

    ._button_snippet {
      color: rgb(85, 85, 85);
      text-align: center;
    }
  }
}

.smallButton {
  width: auto;
  height: 2.4rem;
  background: $meta_color;
  transition: all 0.3s;
  float: right;
}

.attr_button_disabled {
  display: none;
}

.attr_button {
  margin: 1rem 0rem;
  width: 2.4rem;
}
